.color-choice {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.sender {
    font-size: 1.5rem;
}

.colors {
    display: flex;
}

span {
    margin-right: 0.5rem;
}