#App {
  background-color: white;
}

#App header {
  background-color: #222;
  color: #fff;
  /* padding-bottom: 0.5rem; */
  position: fixed;
  width: 34.05%;
  z-index: 100;
  text-align: center;
  align-items: center;
  left: 33.05%;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}


#App main {
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 5rem;
  padding-top: 10rem;
}

#App h1 {
  font-size: 1.5em;
  text-align: center;
  display: inline-block;
  
}

#App header h2 {
  background-color: #e0ffff;
  color: black;
}

#App .widget {
  position: absolute;
  display: inline-block;
  color: black;
  font-size:0.8em;
  margin-left: 33.05%;
  width: 30%;
  background-color: #87cefa;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

#App #heartWidget {
  font-size: 1.5em;
  margin: 1em;
  justify-content: right;
}

#App span {
  display: inline-block
}

.red {
  color: #b22222
}

.orange {
  color: #e6ac00
}

.yellow {
  color: #e6e600
}

.green {
  color: green
}

.blue {
  color: blue
}

.purple {
  color: purple
}